@media (max-width: 675px) {
    /*=============================
    .btn-trigger
    =============================*/
    .btn-trigger {
        position: relative;
        cursor: pointer;
        width: 20px;
        height: 30px;
    }
    .btn-trigger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
        border-radius: 4px;
    }
    .btn-trigger,
    .btn-trigger span {
        display: block;
        transition: all .5s;
        box-sizing: border-box;
    }
    .btn-trigger span:nth-of-type(1) {
        top: 9px;
    }
    .btn-trigger span:nth-of-type(2) {
        top: 15px;
    }
    .btn-trigger span:nth-of-type(3) {
        top: 21px;
    }
    /*=============================
    #btn01
    =============================*/
    #btn01.active span:nth-of-type(1) {
        -webkit-transform: translateY(20px) rotate(-45deg);
        transform: translateY(6px) rotate(-45deg);
    }
    #btn01.active span:nth-of-type(2) {
        opacity: 0;
    }
    #btn01.active span:nth-of-type(3) {
        -webkit-transform: translateY(-20px) rotate(45deg);
        transform: translateY(-6px) rotate(45deg);
    }
    #btn01.active {
        z-index: 04;
    }
    .nav-wrapper {
        display: none;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 03;
    }
    .header-nav {
        width: 100vw;
        height: 100vh;
        background-color: #fff;
    }
    nav ul {
        padding-top: 135px;
        flex-direction: column;
        gap: 54px;
        align-items: center;
    }
    nav ul li a {
        display: block;
        font-size: 24px;
    }
    body.noscroll {
        overflow: hidden;
    }
    .top-container {
        position: relative;
    }
    .header-inner {
        height: 342px;
        padding: 15px 20px 0 20px;
    }
    .header-logo img {
        width: 100%;
    }
    .main-container {
        padding: 0 4%;
    }
    .header-left {
        float: left;
        margin: 0;
    }
    .header-logo {
        width: 70px;
    }
    /**
 * ***************************************
 * ［index.html］ページ
 * ***************************************
 */
    .top .page-top-copy {
        width: 264px;
        transform: translate(-132px, -22.45px);
    }
    .page-top-copy h1 {
        font-size: 24px;
    }
    /* 「お知らせ」エリア */
    .top h2 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 24px;
    }
    .page-news {
        margin: 50px 0 107px 0;
    }
    .news-container {
        width: 100%;
        margin: 0 auto;
    }
    .news-container dt {
        font-weight: initial;
        margin-right: 14px;
        font-size: 13px;
    }
    .news-box {
        margin-left: 17px;
    }
    dd {
        padding-top: 20px;
    }
    /**
 * ***************************************
 * ［corporait.html］ページ
 * ***************************************
 */
    .corporait .page-top-copy {
        transform: translate(-48px, -13.5px);
    }
    /**
 * ***************************************
 * ［example.html］ページ
 * ***************************************
 */
    .example .page-top-copy {
        transform: translate(-48px, -13.5px);
    }
    .page-case-study {
        margin: 80px 0 110px 0;
    }
    .case-study-container {
        width: 100%;
    }
    .case-study-box {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .case-study {
        padding: 0 4%;
        margin-bottom: 50px;
        width: 310px;
    }
    .case-study-MV {
        width: 100%;
    }
    .slick-prev {
        left: -10.5%;
    }
    .slick-next {
        right: -10.5%;
    }
    .case-study-title {
        font-size: 20px;
        padding-top: 30px;
    }
    .case-study-description {
        font-size: 12px;
        padding: 20px 0;
    }
    /**
 * ***************************************
 * ［recruit.html］ページ
 * ***************************************
 */
    .recruit .page-top-copy {
        transform: translate(-48px, -13.5px);
    }
    /**
 * ***************************************
 * ［news.html］ページ
 * ***************************************
 */
    .news .page-top-copy {
        transform: translate(-48px, -13.5px);
    }
    .news-detail .page-top-copy {
        transform: translate(-48px, -13.5px);
    }
    /* リンクエリア */
    .bottom-container {
        display: flex;
        flex-wrap: wrap;
    }
    .bottom-container img {
        flex: auto;
        width: 100%;
    }
    /**
 * ***************************************
 * ［contact.html］ページ
 * ***************************************
 */
    .contact-container h2 {
        font-size: 32px;
    }
    /* footerエリア */
    footer {
        background-color: #000;
    }
    .footer-container {
        height: 378px;
        width: 100%;
    }
    .footer-nav {
        flex-direction: column-reverse;
    }
    .footer-logo-inner {
        padding-top: 54px;
    }
    .footer-logo-inner a {
        display: block;
    }
    .footer-menu ul {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .page-header {}
    .copyrihgt {
        padding-top: 26px;
        text-align: center;
    }
    .copyrihgt p {
        font-size: 12px;
    }
}