* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Serif JP', serif;
}

a {
    transition: .5s;
}

a:hover {
    opacity: .5;
}

h2 {
    text-align: center;
    margin-bottom: 90px;
    font-size: 36px;
}

.clear {
    clear: both;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-container {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position: center;
}

.header-inner {
    height: 800px;
    margin: 0 auto;
    padding: 30px 20px 0 20px;
    max-width: 1140px;
    position: relative;
}

.header-logo {
    width: 138.57px;
}

.header-logo img {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li a {
    margin: 0 25px;
    font-size: 18px;
}

.btn-trigger {
    display: none;
}

.page-top-copy {
    width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-264px, -44.9px);
}

.page-top-copy h1 {
    font-size: 48px;
}

.page-news {
    margin: 80px 0 160px 0;
}

.news-container {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 20px;
}

.news-container dl {
    width: 100%;
    font-size: 18px;
}

.news-container dl a {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    border-bottom: solid 1px #000;
    align-items: center;
}

.news-container dl a:not(:last-child) {
    margin-bottom: 20px;
}

.news-container dl dt {
    font-weight: initial;
    margin-right: 34px;
}

.news-box {
    margin-left: 32px;
    font-size: 11px;
    padding: 4px;
    border: 1px solid #6A808A;
}

.page-case-study {
    margin-bottom: 180px;
}

.case-study-container {
    max-width: 1040px;
    margin: 0 auto;
}

.case-study-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    text-align: center;
}

.case-study {
    max-width: 480px;
    padding: 0 20px;
}

.case-study-mv {
    width: 100%;
}

.case-study-title {
    font-size: 24px;
    padding-top: 46px;
}

.case-study-description {
    font-size: 14px;
    padding: 20px 0;
}

.case-study-more {
    max-width: 300px;
}

.btn {
    margin: 0 auto;
    width: 200px;
    border: 1px solid #000;
    text-align: center;
}

.btn a {
    display: block;
    padding: 10px 30px;
    font-size: 20px;
}

.bottom-container {
    display: flex;
}

.bottom-container img {
    width: 100%;
}

footer {
    background-color: #000;
}

.footer-container {
    width: 1100px;
    height: 156px;
    margin: 0 auto;
    padding-top: 40px;
    color: #fff;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    width: 92.38px;
}

.footer-logo a {
    display: block;
}

.copyrihgt {
    font-size: 12px;
    text-align: center;
    margin-top: 45px;
}