* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

h2 {
    text-align: center;
    margin-bottom: 90px;
    font-size: 36px;
}

.clear {
    clear: both;
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    margin-top: 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-logo {
    width: 138.57px;
}

ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li a {
    padding: 0 25px;
    font-size: 18px;
}

.btn-trigger {
    display: none;
}

.top-wrapper {
    height: 800px;
    background-image: url(../images/main.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

.top-wrapper h1 {
    font-size: 48px;
}

.news-wrapper {
    margin: 80px 0 160px 0;
}

.news-container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

dl {
    width: 100%;
    font-size: 18px;
}

dt {
    float: left;
    font-weight: initial;
    margin-right: 34px;
}

dd {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #000;
}

dd:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

.news-box {
    font-size: 11px;
    padding: 4px;
    border: 1px solid #6A808A;
}

.case-study-wrapper {
    margin: 80px 0 160px 0;
}

.case-study-container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.case-study-box {
    display: flex;
    text-align: center;
}

.case-study-MV {
    width: 80%;
}

.case-study-title {
    font-size: 24px;
    padding-top: 46px;
}

.case-study-description {
    font-size: 14px;
    padding: 20px 0;
}

.case-study-more {
    width: 50%;
}

.btn {
    margin: 85px 0 60px 0;
    text-align: center;
}

.btn a {
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px 30px;
}

.link-wrapper {
    display: flex;
}

.link-wrapper img {
    width: 100%;
}

footer {
    height: 156px;
    background-color: #000;
    padding-top: 40px;
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    width: 92.38px;
}

.copyrihgt {
    font-size: 12px;
    text-align: center;
    margin-top: 45px;
}