* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Serif JP', serif;
}

a:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

.clear {
    clear: both;
}

.page-top {
    background-image: url(../images/main.png);
    background-size: cover;
    background-position: center;
}

.top-container {
    margin-bottom: 102px;
    height: 800px;
    position: relative;
}

.header-inner {
    margin: 0 auto;
    padding: 30px 20px 0 20px;
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo img {
    width: 138.57px;
}

ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li a {
    padding: 0 25px;
    font-size: 18px;
}

.btn-trigger {
    display: none;
}

.page-top-copy {
    width: 528px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-264px, -44.9px);
}

.page-top-copy h1 {
    font-size: 48px;
}

.news-container {
    max-width: 740px;
    margin: 0 auto 192px auto;
    padding: 0 20px;
}

.news-container h2 {
    text-align: center;
    margin-bottom: 90px;
    font-size: 36px;
}

.news-container dl a {
    display: flex;
    padding-bottom: 24px;
    border-bottom: solid 1px #000;
    margin-bottom: 20px;
    font-size: 18px;
}

.news-container dt {
    font-weight: initial;
    margin-right: 32px;
}

.news-box {
    font-size: 11px;
    padding: 4px;
    border: 1px solid #6A808A;
}

.news-container dd:hover {
    opacity: 0.5;
    transition: all 0.5s;
}

.case-study-container {
    max-width: 1040px;
    margin: 0 auto 192px auto;
    padding: 0 20px;
}

.case-study-container h2 {
    text-align: center;
    margin-bottom: 90px;
    font-size: 36px;
}

.case-study-box {
    display: flex;
    justify-content: space-between;
    gap: 120px;
    margin-bottom: 80px;
}

.case-study {
    width: 430px;
    text-align: center;
}

.case-study>img {
    width: 100%;
    margin-bottom: 46px;
}

.case-study-title {
    font-size: 24px;
}

.case-study-description {
    font-size: 14px;
    padding: 20px 0;
}

.case-study a {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.case-study a img {
    width: 100%;
}

.btn {
    text-align: center;
}

.btn a {
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px 30px;
    display: inline-block;
}

.bottom-container {
    display: flex;
}

.bottom-container img {
    width: 100%;
}

footer {
    height: 156px;
    background-color: #000;
    padding-top: 40px;
    color: #fff;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo {
    width: 92.38px;
}

.copyrihgt {
    font-size: 12px;
    text-align: center;
    margin-top: 45px;
}